---
layout: page
title: Guides
header: Guides
group: navigation
---
{% include JB/setup %}

<p>
    Here's a list of tutorials and step-by-step guides to get you started using the Kitchen Monki API quickly.
    All of our api calls require an access token so if you don't already have one, you should begin by reading
    the authentication guide.  In our tutorials, all of our examples use curl command line to send the requests
    so please make sure that your system has curl installed if you would like to run our examples in your shell.
    Go to <a href="http://curl.haxx.se/docs/install.html">http://curl.haxx.se/docs/install.html</a> for installation
    instructions.  If you will be sending the api calls via serverside scripts or something else like a browser
    plugin, then '-d' lines are request parameters and '-H' lines are http headers.  Also note that the Kitchen Monki
    API expects the request parameters to be form encoded in the body of the request if not using the GET method.
</p>

<hr />

<h2>Getting Started</h2>
<ul>
{% assign pages_list = site.pages %}
{% assign group = 'getting-started' %}
{% include JB/pages_list %}
</ul>
<hr />

<h2>Tutorials</h2>
<!--<ul>
{% assign pages_list = site.pages %}
{% assign group = 'tutorial' %}
{% include JB/pages_list %}
</ul>-->

<ul>
    <li>
        <a href="/pages/tutorial-recipe.html">Recipes</a>
        <ul>
            <li><a href="/pages/tutorial-bookmark.html">Bookmarks</a></li>
            <li><a href="/pages/tutorial-photo.html">Photos</a></li>
            <li><a href="/pages/tutorial-meta.html">Meta Tags</a></li>
        </ul>
    </li>
    <li>
        <a href="/pages/tutorial-ingredient.html">Ingredients</a>
        <ul>
            <li><a href="/pages/tutorial-brand.html">Brands</a></li>
        </ul>
    </li>
    <li><a href="/pages/tutorial-queue.html">Recipe Queue</a></li>
    <li><a href="/pages/tutorial-list.html">Grocery Lists</a></li>
    <li><a href="/pages/tutorial-plan.html">Meal Planner</a></li>
    <li><a href="/pages/tutorial-location.html">Locations and Stores</a></li>
    <li>
        <a href="/pages/tutorial-user.html">Users</a>
        <ul>
            <li><a href="/pages/tutorial-user-friends.html">Networking</a></li>
        </ul>
    </li>
</ul>

<hr />






