---
layout: page
title: Guides
header: Guides
group: navigation
---
{% include JB/setup %}

<h2>Getting Started</h2>
<ul>
{% assign pages_list = site.pages %}
{% assign group = 'getting-started' %}
{% include JB/pages_list %}
</ul>
<hr />

<h2>Tutorials</h2>
<!--<ul>
{% assign pages_list = site.pages %}
{% assign group = 'tutorial' %}
{% include JB/pages_list %}
</ul>-->

<ul>
    <li>
        <a href="/pages/tutorial-recipe.html">Recipes</a>
        <ul>
            <li><a href="/pages/tutorial-bookmark.html">Bookmarks</a></li>
            <li><a href="/pages/tutorial-photo.html">Photos</a></li>
            <li><a href="/pages/tutorial-meta.html">Meta Tags</a></li>
        </ul>
    </li>
    <li>
        <a href="/pages/tutorial-ingredient.html">Ingredients</a>
        <ul>
            <li><a href="/pages/tutorial-brand.html">Brands</a></li>
        </ul>
    </li>
    <li><a href="/pages/tutorial-queue.html">Recipe Queue</a></li>
    <li><a href="/pages/tutorial-list.html">Grocery Lists</a></li>
    <li><a href="/pages/tutorial-plan.html">Meal Planner</a></li>
    <li><a href="/pages/tutorial-location.html">Locations and Stores</a></li>
</ul>

<hr />






